* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: white;
    font-size: 1rem;
}

#cabecera {
    background: purple;
    color: white;
    padding: .5em;
    margin: 0 0 10px 0;
}


h6 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}


h6 span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

#container {
    width: 80%;
    margin: 10px auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: .5em;
}